<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/yildiz.jpg" type="image">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
        }

        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

        .header-right {
            float: right;
        }

        @media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }

            .header-right {
                float: none;
            }
        }

        .search{
            position: relative;
            box-shadow: 0 0 40px rgba(51, 51, 51, .1);

        }

        .search input{

            height: 60px;
            text-indent: 25px;
            border: 2px solid #d6d4d4;


        }


        .search input:focus{

            box-shadow: none;
            border: 2px solid blue;


        }

        .search .fa-search{

            position: absolute;
            top: 20px;
            left: 16px;

        }

        .search button{

            position: absolute;
            top: 5px;
            right: 5px;
            height: 50px;
            width: 110px;
            background: blue;

        }
    </style>

    <!--<script type="module" src="../node_modules/nlptoolkit-corpus/dist/Sentence.js"></script>
    <script type="module" src="node_modules/nlptoolkit-datastructure/dist/CounterHashMap.js"></script>-->
    <script type="text/javascript">

        //let Sentence = require("nlptoolkit-corpus/dist/Sentence");
        //import {Sentence} from "nlptoolkit-corpus/dist/Sentence.js";

        let emailvalue = '<%- email %>'
        let sentencevalue = '<%- sentence %>'

        console.log("deneme")


        //import Sentence from "nlptoolkit-corpus/dist/Sentence";
        function getInformationRetrieval(){

            let query = document.getElementById("myQuery").value;
            console.log(query);

            <% var fsmParseList = fsm.morphologicalAnalysis("akın") %>
            <% for(var i=0; i< fsmParseList.size(); i++){ %>
                console.log('<%- fsmParseList.getFsmParse(i).getFsmParseTransitionList() %>')
            <% } %>

            console.log(emailvalue);

            console.log(sentencevalue);
            console.log('<%- sentence.getWord(1).getName() %>');
        }
    </script>
</head>
<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="#home" class="w3-bar-item w3-button">Starlang</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="#searchbox" class="w3-bar-item w3-button">Search Box</a>
                <a href="#texteditting" class="w3-bar-item w3-button">Text Editting</a>
                <a href="#profil" class="w3-bar-item w3-button">Profil</a>
            </div>
        </div>
    </div>

    <!-- Header -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1500px; background: gainsboro;" id="home">
        <img class="w3-image" src="https://starlangyazilim.com/wp-content/uploads/1280x800-Transparan-Logo-Beyaz-3.png" alt="Not Found" width="300" height="100">
        <div class="w3-display-middle w3-margin-top w3-center">
            <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>NLP</b></span> <span class="w3-hide-small w3-text-light-grey">Toolkit</span></h1>
        </div>
        <div style="padding-left:20px">
            <a href="/users/logout">Logout</a>
            <h1>Hello <%= user.charAt(0).toUpperCase() + user.slice(1) %></h1>
        </div>
    </header>

    <!-- Page content -->
    <div class="w3-content w3-padding" style="max-width:1564px">

        <!-- SearchBox Section -->
        <div class="w3-container w3-padding-32" id="searchbox">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Search Box</h3>
        </div>

        <div class="w3-row-padding">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" id="myQuery" placeholder="Query">
                        <button class="btn btn-primary" onclick="getInformationRetrieval()">Search</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- TextEditting Section -->
        <div class="w3-container w3-padding-32" id="texteditting">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Text Editting</h3>
        </div>

        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <form action="" method="post">

                    <textarea class="col-md-12" id="myTextArea" name="myTextarea" placeholder="Text Box" style="height: 100vh; width: 200vh;"></textarea><br />
                    <br>
                    <br>

                    <button class="btn btn-info" type="button" onclick="" style="float: right; margin-left: 1em">Sonucu Göster</button>
                    <button class="btn btn-primary" type="submit" style="float: right">Kontrole Gönder</button>
                </form>
            </div>
        </div>

        <!-- Contact Section -->
        <!--<div class="w3-container w3-padding-32" id="contact">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
            <p>Lets get in touch and talk about your next project.</p>
            <form action="/action_page.php" target="_blank">
                <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
                <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
                <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
                <button class="w3-button w3-black w3-section" type="submit">
                    <i class="fa fa-paper-plane"></i> SEND MESSAGE
                </button>
            </form>
        </div>-->

        <!-- Social media icons -->
        <!--<div class="w3-container">

        </div>-->

        <!-- Profil Section -->
        <div class="w3-container w3-padding-32" id="profil">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Profil Ayarları</h3>
        </div>

        <!-- End page content -->
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-16">

    </footer>
</body>
</html>