<div class="w3-container w3-padding-32" id="searchbox">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Search Box</h3>
</div>

<!-- get all cases method before display the user interface because of calculating the query time -->
<% var array = [] %>
<% if(typeof dashboard != 'undefined'){ %>
    <% array = dashboard.allRetrievalTypeCases(value, platform, type) %>
<% } %>

<div class="w3-row-padding">
    <ul>
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
                <li><%= error.message %></li>
            <% }) %>
        <% } %>
    </ul>
    <form action="/users/dashboard" id="queryForm" method="post">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" id="myQuery" name="myQuery" placeholder="Query">
                    <select class="btn btn-primary" id="myPlatform" name="myPlatform">
                        <!-- <option value="0">Platform</option> -->
                        <option value="1">Hepsiburada</option>
                        <option value="2">Amazon</option>
                        <option value="3">N11</option>
                        <option value="4">Çiçeksepeti</option>
                        <option value="5">Trendyol</option>
                        <option value="6">Gittigidiyor</option>
                    </select>
                    <select class="btn btn-primary" id="myRetrievalType" name="myRetrievalType">
                        <!-- <option value="0">Retrieval Type</option> -->
                        <option value="1">Ranked</option>
                        <option value="2">Positional</option>
                        <option value="3">Boolean</option>
                    </select>
                    <!-- <select class="btn btn-primary" id="DocumentWeighting">
                        <option value="0">Document Weighting</option>
                        <option value="1">No IDF</option>
                        <option value="2">IDF</option>
                        <option value="3">Probabilistic IDF</option>
                    </select> -->
                    <!-- <select class="btn btn-primary" id="TermWeighting">
                        <option value="0">Term Weighting</option>
                        <option value="1">Natural</option>
                        <option value="2">Logarithm</option>
                        <option value="3">Boole</option>
                    </select> -->
                    <input type="number" style="width: 100px;" value="8" min="0" max="100">
                    <button type="submit" class="btn btn-primary" onclick="">Search</button>
                </div>
                <!-- display calculating tne query time -->
                <% if(typeof informationRetrieval != 'undefined'){ %>
                    <p class="w3-light-grey w3-block" style="text-align: center"><%= informationRetrieval.getTime() %> miliseconds</p>
                <% } if(typeof array2 != 'undefined' && array2.length > 0){ %>
                    <p class="w3-opacity" style="text-align: center">before the analyze => <%= array2[0] %></p>
                <% } if(typeof array2 != 'undefined' && array2.length > 1){ %>
                    <p style="text-align: center">after the analyze => <%= array2[1] %></p>
                <% } %>
            </div>
        </div>
    </form>
</div>

<div class="w3-row-padding">
    <% array.forEach(each => { %>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <% if(each.length > 0 && platform != 6){ %>
                <div id="image">
                <img alt="Not Found" style="width:100%">
                </div>
            <% } if(each.length > 1){ %>
                <h3 class="title"><%= each[1] %></h3>
            <% } if(each.length > 0){ %>
                <p class="w3-opacity hierarchy"><%= each[0] %></p>
            <% } if(each.length > 2){ %>
                <p class="description"><%= each[2] %></p>
            <% } %>
        </div>
    <% }) %>
    <!-- <% if(array.length > 0){ %>
         <p><button class="w3-button w3-light-grey w3-block">Load More</button></p>
         <% } %> -->
    <script type="text/javascript">
        //  if(typeof dashboard != 'undefined'){ 
        //     let value = dashboard.getArrayOfProductInfo(array[0], platform)
        //     document.getElementById("image").innerHTML = value
        //  } 
    </script>
</div>