<div class="w3-container w3-padding-32" id="texteditting">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Text Editting</h3>
</div>

<div class="w3-row-padding transition-fade">
    <ul>
        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(error => { %>
                <li><%= error.message %></li>
            <% }) %>
        <% } %>
    </ul>
    <form action="/users/dashboard2" id="textAreaForm" method="post"
    onkeyup="if(event.keyCode === 32 || event.keyCode === 8 || event.keyCode === 9 || event.keyCode === 13
            || event.keyCode === 190 || event.keyCode === 188 || event.keyCode === 49 || event.keyCode === 223) this.submit(); return false;">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <div class="search">
                    <select class="btn btn-primary" id="myDomain" name="myDomain" 
                    style="margin-left: auto; margin-right: auto; display: block;">
                        <!-- <option value="0">Select Domain</option> -->
                        <option value="1">Aile</option>
                        <option value="2">Akademik</option>
                        <option value="3">Arkeoloji</option>
                        <option value="4">Astroloji</option>
                        <option value="5">Bilim</option>
                        <option value="6">Bilim-Teknoloji</option>
                        <option value="7">Eğitim</option>
                        <option value="8">Eğlence</option>
                        <option value="9">Ekonomi</option>
                        <option value="10">Ev Tasarımı</option>
                        <option value="11">Gaming</option>
                        <option value="12">Güzellik ve Moda</option>
                        <option value="13">İlişkiler</option>
                        <option value="14">İş ve Ticaret</option>
                        <option value="15">Kişisel Gelişim</option>
                        <option value="16">Lifestyle</option>
                        <option value="17">Pazarlama</option>
                        <option value="18">Politika</option>
                        <option value="19">Pop Kültür</option>
                        <option value="20">Psikoloji</option>
                        <option value="21">Sağlık</option>
                        <option value="22">Seyahat</option>
                        <option value="23">Spor</option>
                        <option value="24">Tasarım ve Geliştirme</option>
                        <option value="25">Teknoloji</option>
                        <option value="26">Workout Önerileri</option>
                        <option value="27">Yemek-İçecek</option>
                        <option value="28">Yerel Haberler</option>
                    </select>
                    <textarea type="text" id="myTextArea" name="myTextArea" placeholder="Text Box" 
                    style="width: 100%; height: 10vh;"><% if(typeof myTextArea != 'undefined'){ %><%= myTextArea %><% } %></textarea>
                    <div style="margin: 35px;">
                    <% 
                    if(typeof storageWordChanges != 'undefined'){ 
                        if(storageWordChanges.length > 0){ 
                            for(let i = 0; i < storageWordChanges.length; i++){
                                if(storageWordChanges[i].status === "editted"){%><span
                                    id="span<%=i%>"
                                    onmouseover="displayEditWord(<%=i%>,'<%-storageWordChanges[i].editWord%>')"
                                    onmouseout="displayWord(<%=i%>,'<%-storageWordChanges[i].word%>')"
                                    style="text-decoration-line: underline;
                                    text-decoration-style: wavy;
                                    text-decoration-color: rgb(255, 0, 0);"><%= storageWordChanges[i].word %></span><%} 
                                else{
                                    %><%= storageWordChanges[i].word %><%
                                }
                                %><%= " " %><%
                            }
                        }
                    } 
                    %>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="location.reload();" style="margin-left: auto; margin-right: auto; display: block">Control</button>
                    <button type="button" class="btn btn-primary" onclick="autoFill();" style="margin-left: auto; margin-right: auto; display: block">Autofill</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>

    <% if(typeof storageWordChanges != 'undefined'){ %>
        
        function displayEditWord(count,value){

            console.log(value)
            document.getElementById("span"+count).innerHTML = value
        }
        function displayWord(count,value){

            document.getElementById("span"+count).innerHTML = value
        }
    <% } %>

    function autoFill(){

        <% 
        var text = "";
        if(typeof storageWordChanges != 'undefined'){ 
            if(storageWordChanges.length > 0){ 
                for(let i = 0; i < storageWordChanges.length; i++){
                    text += storageWordChanges[i].editWord + " "
                }
            }
        }
        %>

        let auto = '<%- text %>'

        document.getElementById("myTextArea").innerHTML = auto
    }
    
</script>